<c-row>
  <c-col xs="12" class="mb-5">
    <h1 style="text-align: center" class="mb-3">Clientes.</h1>
    <span style="display: block; text-align: center"
      >Este módulo lista todos los clientes de la librería.</span
    >
  </c-col>
  <form cForm class="row g-3 mb-4">
    <h4>Filtrar por:</h4>
    <c-col [md]="4">
      <label cLabel for="inputEmail4">Nombre:</label>
      <input cFormControl id="inputEmail4" type="text" />
    </c-col>
    <c-col [md]="4">
      <label cLabel for="inputPassword4">Apellido:</label>
      <input cFormControl id="inputPassword4" type="text" />
    </c-col>
    <c-col [md]="4">
      <label cLabel for="inputPassword4">Correo:</label>
      <input cFormControl id="inputPassword4" type="email" />
    </c-col>
  </form>
  <c-col xs="12">
    <table [striped]="true" cTable>
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nombres</th>
          <th scope="col">Apellidos</th>
          <th scope="col">Correo</th>
          <th scope="col">Editar</th>
          <th scope="col">Eliminar</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>cristianjaimes691&#64;mdo</td>
          <td>
            <a href="" style="cursor: pointer">
              <img
                width="35"
                src="https://img.icons8.com/bubbles/50/edit.png"
                alt="edit"
              />
            </a>
          </td>
          <td>
            <a href="" style="cursor: pointer">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="30"
                viewBox="0 0 48 48"
              >
                <path
                  fill="#9fa8da"
                  d="M12,13v25c0,2.2,1.8,4,4,4h16c2.2,0,4-1.8,4-4V13H12z"
                ></path>
                <path
                  fill="#7986cb"
                  d="M23,15h2v23h-2V15z M29,15h2v23h-2V15z M17,15h2v23h-2V15z"
                ></path>
                <path fill="#5c6bc0" d="M12,10h24v4H12V10z"></path>
                <path
                  fill="#5c6bc0"
                  d="M10,13h28v4H10V13z M20,12V8h8v4h2V8c0-1.1-0.9-2-2-2h-8c-1.1,0-2,0.9-2,2v4H20z"
                ></path>
              </svg>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </c-col>
  <c-col xs="12" class="mt-5">
    <c-pagination aria-label="Page navigation example">
      <li cPageItem>
        <span cPageLink [routerLink]>Previous</span>
      </li>
      <li cPageItem>
        <a cPageLink [routerLink]>1</a>
      </li>
      <li cPageItem>
        <span cPageLink [routerLink]>2</span>
      </li>
      <li cPageItem>
        <a cPageLink [routerLink]>3</a>
      </li>
      <li cPageItem>
        <a cPageLink [routerLink]>Next</a>
      </li>
    </c-pagination>
  </c-col>
</c-row>
