<form
  #tooltipForm="ngForm"
  cForm
  class="row g-3 needs-validation"
  #actualizarFormulario="ngForm"
  (ngSubmit)="actualizarlibro(actualizarFormulario)"
>
  <c-col class="position-relative" md="4">
    <label cLabel for="validationTooltip01">Titulo</label>
    <input
      cFormControl      
      name="titulo"
      [(ngModel)]="producto.titulo"       
      id="validationTooltip01"      
      required
      type="text"      
    />
    <c-form-feedback [valid]="true" tooltip>Looks good!</c-form-feedback>
  </c-col>

  <c-col class="position-relative" md="4">
    <label cLabel for="validationTooltip01">Autor</label>
    <input
      cFormControl
      name="autor"
      [(ngModel)]="producto.autor"
      id="validationTooltip01"      
      required
      type="text"      
    />
    <c-form-feedback [valid]="true" tooltip>Looks good!</c-form-feedback>
  </c-col>

  <c-col class="position-relative" md="4">
    <label cLabel for="validationTooltip01">Año de publicación</label>
    <input
      cFormControl
      name="anio_publicacion"
      [(ngModel)]="producto.anio_publicacion"
      id="validationTooltip01"      
      required
      type="number"      
    />
    <c-form-feedback [valid]="true" tooltip>Looks good!</c-form-feedback>
  </c-col>

  <c-col class="position-relative" md="4">
    <label cLabel for="validationTooltip01">Número Estándar Internacional de Libros</label>
    <input
      cFormControl
      name="isbn"
      [(ngModel)]="producto.isbn"
      id="validationTooltip01"      
      required
      type="text"      
    />
    <c-form-feedback [valid]="true" tooltip>Looks good!</c-form-feedback>
  </c-col>

  <c-col class="position-relative" md="4">
    <label cLabel for="validationTooltip05">categoria</label>
    <input
      cFormControl
      name="categoria"
      [(ngModel)]="producto.categoria"
      id="validationTooltip05"      
      required
      type="text"      
    />
    <c-form-feedback [valid]="false" tooltip
      >Please provide a valid zip.</c-form-feedback
    >
  </c-col>

  <c-col class="position-relative" md="4">
    <label cLabel for="validationTooltipUsername">Precio</label>
    <c-input-group class="has-validation">
      <input
        cFormControl
        name="precio"
        [(ngModel)]="producto.precio"
        id="validationTooltipUsername"        
        required
        type="number"        
      />
      <c-form-feedback [valid]="false" tooltip
        >Please choose a Precio.</c-form-feedback
      >
    </c-input-group>
  </c-col>
  <c-col class="position-relative" md="4">
    <label cLabel for="validationTooltip03">Stock</label>
    <input
      cFormControl
      name="stock"
      [(ngModel)]="producto.stock"
      id="validationTooltip03"      
      required
      type="text"
      type="number"      
    />
    <c-form-feedback [valid]="false" tooltip
      >Please provide a valid Stock.</c-form-feedback
    >
  </c-col>

  <c-col class="position-relative" md="4">
    <label cLabel for="validationTooltip01">Contenido</label>
    <div class="mb-3">
      <textarea
        cFormControl
        name="contenido"
        [(ngModel)]="producto.contenido"        
        rows="3"        
        id="validationTooltip01"
        required
        textarea        
      ></textarea>
    </div>
    <c-form-feedback [valid]="true" tooltip>Looks good!</c-form-feedback>
  </c-col>

  <c-col class="position-relative" md="4">
    <label cLabel for="validationTooltipUsername">Descripcion</label>
    <div class="mb-3">
      <textarea
      cFormControl
      name="descripcion"
      [(ngModel)]="producto.descripcion"
      id="validationTooltipUsername"      
      required
      type="text"
      rows="3"
      
      ></textarea>
    </div>
    <c-input-group class="has-validation">
      <c-form-feedback [valid]="false" tooltip
        >Please choose a descripcion.</c-form-feedback
      >
    </c-input-group>
  </c-col>
  <c-col class="position-relative" md="4">
    <div class="mb-3">
      <c-card>
        <img [src]="imgSelect" alt="">
      </c-card>
      <label cLabel for="formFile">Seleccionar Portada</label>
      <input
        cFormControl
        aria-label="file example"
        (change)="fileChangeEvent($event)"        
        
        id="validationText1"
        required
        type="file"
      />
   
    </div>
  </c-col>
  <c-col class="position-relative" xs="12">
    <c-form-check>
      <input
        cFormCheckInput
        id="invalidCheckTooltip"
        name="invalidCheckTooltip"
        required
        type="checkbox"
      />
      <label cFormCheckLabel for="invalidCheckTooltip"
        >Agree to terms and conditions</label
      >
    </c-form-check>
    <c-form-feedback [valid]="false" tooltip
      >You must agree before submitting.</c-form-feedback
    >
  </c-col>
  <c-col xs="12">
    <button cButton class="me-1" color="primary" type="submit">
      Submit form
    </button>
    <button (click)="onReset3()" cButton color="secondary" type="reset">
      Reset
    </button>
  </c-col>
</form>
