<form
  #tooltipForm="ngForm"
  cForm
  class="row g-3 needs-validation"
  [formGroup]="registerForm"
  (ngSubmit)="onSubmit()"
>
  <c-col class="position-relative" md="4">
    <label cLabel for="validationTooltip01">Titulo</label>
    <input
      cFormControl
      formControlName="titulo"
      id="validationTooltip01"
      required
      type="text"
      name="titulo"
    />
    <c-form-feedback [valid]="true" tooltip>Looks good!</c-form-feedback>
  </c-col>

  <c-col class="position-relative" md="4">
    <label cLabel for="validationTooltip05">categoria</label>
    <input
      cFormControl
      formControlName="categoria"
      id="validationTooltip05"
      required
      type="text"
      name="categoria"
    />
    <c-form-feedback [valid]="false" tooltip
      >Please provide a valid zip.</c-form-feedback
    >
  </c-col>

  <c-col class="position-relative" md="4">
    <label cLabel for="validationTooltipUsername">Precio</label>
    <c-input-group class="has-validation">
      <input
        aria-describedby="inputGroupPrependTooltip"
        cFormControl
        formControlName="precio"
        id="validationTooltipUsername"
        required
        type="number"
        name="precio"
      />
      <c-form-feedback [valid]="false" tooltip
        >Please choose a Precio.</c-form-feedback
      >
    </c-input-group>
  </c-col>
  <c-col class="position-relative" md="4">
    <label cLabel for="validationTooltip03">Stock</label>
    <input
      cFormControl
      formControlName="stock"
      id="validationTooltip03"
      required
      type="text"
      type="number"
      name="stock"
    />
    <c-form-feedback [valid]="false" tooltip
      >Please provide a valid Stock.</c-form-feedback
    >
  </c-col>

  <c-col class="position-relative" md="4">
    <label cLabel for="validationTooltip01">Contenido</label>
    <div class="mb-3">
      <textarea
        cFormControl
        id="exampleFormControlTextarea1"
        rows="3"
        cFormControl
        formControlName="contenido"
        id="validationTooltip01"
        required
        textarea
        name="contenido"
      ></textarea>
    </div>
    <c-form-feedback [valid]="true" tooltip>Looks good!</c-form-feedback>
  </c-col>

  <c-col class="position-relative" md="4">
    <label cLabel for="validationTooltipUsername">Descripcion</label>
    <div class="mb-3">
      <textarea
      aria-describedby="inputGroupPrependTooltip"
      cFormControl
      formControlName="descripcion"
      id="validationTooltipUsername"
      required
      type="text"
      rows="3"
      name="descripcion"
      ></textarea>
    </div>
    <c-input-group class="has-validation">
      <c-form-feedback [valid]="false" tooltip
        >Please choose a descripcion.</c-form-feedback
      >
    </c-input-group>
  </c-col>
  <c-col class="position-relative" md="4">
    <div class="mb-3">
      <c-card>
        <img [src]="imgSelect" alt="">
      </c-card>
      <label cLabel for="formFile">Seleccionar Portada</label>
      <input
        aria-label="file example"
        (change)="onFileChange($event)"
        cFormControl
        formControlName="portada"
        id="validationText1"
        required
        type="file"
      />
   
    </div>
  </c-col>
  <c-col class="position-relative" xs="12">
    <c-form-check>
      <input
        cFormCheckInput
        id="invalidCheckTooltip"
        name="invalidCheckTooltip"
        required
        type="checkbox"
      />
      <label cFormCheckLabel for="invalidCheckTooltip"
        >Agree to terms and conditions</label
      >
    </c-form-check>
    <c-form-feedback [valid]="false" tooltip
      >You must agree before submitting.</c-form-feedback
    >
  </c-col>
  <c-col xs="12">
    <button cButton class="me-1" color="primary" type="submit">
      Submit form
    </button>
    <button (click)="onReset3()" cButton color="secondary" type="reset">
      Reset
    </button>
  </c-col>
</form>
